.loading {
   position: absolute;
   top: 200px;
   left: 48%;
   border: 8px solid #f3f3f3;
   border-top: 8px solid chocolate;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   animation: spin 0.8s ease infinite;
}

.card {
   width: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 40px;
   margin: 20px auto;
   border: 1px solid #000;
   transition: transform 0.1s;
   box-shadow: -20px 20px 0px rgba(247, 141, 65, 0.671);


   .header {
      display: flex;

      .poster {
         width: 200px;
         height: 300px;
         background-position: center;
         background-size: cover;
         margin-right: 40px;
         margin-bottom: 40px;
      }

      .info {

         h3 {
            margin: 5px 0;
         }
      }
   }

   .description {
      margin-bottom: 40px;
   }

   .btn {
      width: 100px;
      align-self: flex-end;
      background: transparent;
      font-size: 1.2rem;
      border: 1px solid #000;
      padding: 5px;
      color: #000;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
         border-color: #da1e37;
         color: #da1e37;
      }
   }

   .modal {
      transform: translateY(0);
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.5s;
      overflow: hidden;

      .card {
         width: 300px;
         padding: 10px 20px 20px;
         background-color: #fff;
         color: #000;
         margin: 80px auto;
         border: 1px solid #000;
         box-shadow: -15px 15px 1px rgba(247, 141, 65, 0.671);

         .answer {
            margin-top: 20px;
            display: flex;
            
            .btn {
               width: 50px;
               background: transparent;
               font-size: 1rem;
               border: 1px solid #000;
               padding: 2px 5px;
               cursor: pointer;
               transition: 0.1s;
            }

            .btnY {
               margin-right: 20px;
               
               &:hover {
                  color: #da1e37;
                  border: 1px solid #da1e37;
               }
            }

            .btnN {

               &:hover {
                  border: 1px solid #538d22;
                  color: #538d22;
               }
            }
         }
      }
   }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

@media (max-width: 1100px) {
   .card {
      width: 800px;
      .header {
         .poster {
            width: 300px;
         }
      }
   }
}

@media (max-width: 900px) {
   .card {
      width: 700px;
      .header {
         .poster {
            height: 280px;
         }
      }
   }
}

@media (max-width: 800px) {
   .card {
      padding: 30px;
      width: 600px;
      .header {

         .poster {
            height: 250px;
         }

         .info {
            h3 {
            font-size: 1rem;
            }
         }
      }

      .description {
         h3 {
         font-size: 1rem;
         }
      }

      .btn {
         width: 80px;
         font-size: 1rem;
      }
   }
}

@media (max-width: 670px) {
   .card {
      padding: 25px;
      width: 500px;
      .header {
         h1 {
            font-size: 1.5rem;
         }
         .poster {
            margin-right: 25px;
            height: 250px;
         }
      }
   }
}

@media (max-width: 550px) {
   .card {
      padding: 25px;
      width: 350px;
      .header {
         flex-direction: column;
         align-items: center;

         h1 {
            font-size: 1.5rem;
         }
         .poster {
            margin: 0;
            margin-bottom: 25px;
            height: 350px;
            width: 250px;
         }
      }
   }
}

@media (max-width: 400px) {
   .card {
      padding: 15px;
      width: 300px;
      .header {
         flex-direction: column;
         align-items: center;

         h1 {
            font-size: 1.5rem;
         }
         .poster {
            margin: 0;
            margin-bottom: 25px;
            height: 350px;
            width: 250px;
         }
      }
   }
}

@media (max-width: 350px) {
   .card {
   box-shadow: -13px 13px 0px rgba(247, 141, 65, 0.671);

      padding: 15px;
      width: 270px;
      .header {
         flex-direction: column;
         align-items: center;

         h1 {
            font-size: 1.5rem;
         }
         .poster {
            margin: 0;
            margin-bottom: 25px;
            height: 350px;
            width: 250px;
         }
      }

      .modal {
         .card {
            width: 200px;

            h3 {
               font-size: 1.5rem;
            }
         }
      }
   }
}